:root{
    --fontTitle:#FDD73E;
    --button:#3045FF;
    --subtitle: #5265FD;
    --text:#FFF;}

*{
        box-sizing: border-box;
        margin:0;
        padding:0;
        background-color: #2E2E2E;
        color: #FFF;}
      
    
html{
        font-size: 62.5%;
        font-family: "Inter", serif;
        overflow-x:hidden;
        }
/*************  Mobile first    ***********/
/*************  Perfil   ***********/  
.chatico{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: fixed;
        bottom: 182px;
        right: 55px;
        z-index: 100;
}

.chatico img{
        width: 38px;
        max-width: 61px;
        height: auto;
}   
.main--title h1{
        margin-top:50px ;
        margin-left: 18px;
        font-size: 1.6rem;
        font-weight: 700;
        color: #FDD73E;
        text-align: left;
}   
.main--part1 h2 {
        margin-left: 18px;
        font-size: 1.4rem;
        font-weight: 700;
        color: #FFF;
        text-align: left; 
}
.main--part2 h2{
        margin-top: 10px;
        margin-left: 18px;
        font-size: 1.4rem;
        font-weight: 700;
        color: #FFF;
        text-align: left; 
}
.profile-info{
        margin-top: 11px;
}
.div-part1,.div-part2{
        margin-left: 18px;
}
.div-part1 label, .div-part2 label{
        color: #FFF;
        font-size: 1.2rem;
}
.button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
} 
.button-container button{
        width: 126px;
        max-width: 226px;
        height: 21px;
        border-radius: 13px;
        background-color: #3045FF;
        color: #FFF;
        font-size: 1.2rem;
        border: none;
        margin-bottom: 10px;
        
}
footer{
        position: relative;
        text-align: center;
        padding-top: 50px;
        

}
.footer_txt{
        position: absolute;
        top:50%;
        left: 25%;
        
        
}
.footer_txt p{
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        line-height: 0.5;
        
}
/*************  Paneles  ***********/  
.panel--chatico{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: fixed;
        bottom: 90px;
        right: 55px;
        z-index: 100; 
}
.main--title p{
        width: 285px;
        max-width: 440px;
        margin-left: 18px;
        font-size: 1.2rem;
        color: #FFF;
        text-align: left; 
}
.main--panel h2{
        margin-left: 18px;
        font-size: 1.4rem;
        color: var(--subtitle);
        text-align: left; 
}
.main--panel p{
        width: 285px;
        max-width: 440px;
        margin-left: 18px;
        font-size: 1.2rem;
        color: #B2B2B2;
        text-align: left; 
}
.panel--card{
        position: relative;
        width:290px;
        max-width: 813px;
        height: 72px;
        display: flex;
        margin: 10px auto;
        border: 1px solid #FDD73E;
        border-radius: 5px;

}
.panel--card input{
        position: absolute;
        top:5px;
        right: 5px;
}
.panel--card .arrow-icon{
        background-image: url(../../assets/ico/right-arrow.png);
        position:absolute;
        width:12px;
        height: 24px;
        top:25px;
        right: 6px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
}
.panel--img img{
        width:110px;
        max-width: 257px;
        height: auto;
}
.panel--txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.panel--txt p{
        width: 150px;
        height: auto;
}
.panel--txt .card-title{
        font-size: 1.2rem;
        font-weight: 700;
        color: #FFF;
        word-wrap: break-word;
}
.panel--txt .card-text,.panel--txt span {
        font-weight: 1rem;
        color: #B2B2B2;
}

