:root{
    --fontTitle:#FDD73E;
    --button:#3045FF;
    --subtitle: #5265FD;
    --text:#FFF;}

*{
        box-sizing: border-box;
        margin:0;
        padding:0;
        background-color: #2E2E2E;
        color: #FFF;}
      
    
html{
        font-size: 62.5%;
        font-family: "Inter", serif;
        overflow-x:hidden;
        }
/*************  Mobile first    ***********/



/*************  Perfil   ***********/  
.chatico{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: fixed;
        bottom: 182px;
        right: 55px;
        z-index: 100;
}

.chatico img{
        width: 38px;
        max-width: 61px;
        height: auto;
}   
.main--title h1{
        margin-top:50px ;
        margin-left: 18px;
        font-size: 1.6rem;
        font-weight: 700;
        color: #FDD73E;
        text-align: left;
}   
.main--part1 h2 {
        margin-left: 18px;
        font-size: 1.4rem;
        font-weight: 700;
        color: #FFF;
        text-align: left; 
}
.main--part2 h2{
        margin-top: 10px;
        margin-left: 18px;
        font-size: 1.4rem;
        font-weight: 700;
        color: #FFF;
        text-align: left; 
}


.div-part1,.div-part2{
        margin-left: 18px;
}
.div-part1 label, .div-part2 label{
        color: #FFF;
        font-size: 1.2rem;
}
.part2--txt p{
        margin-top: 10px;
        margin-left: 18px;
        font-size: 1.2rem;
        color: #FDD73E;
        text-align: left;

}
.button-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
} 
.button-container button{
        width: 126px;
        height: 21px;
        border-radius: 13px;
        background-color: #3045FF;
        color: #FFF;
        font-size: 1.2rem;
        border: none;
        margin-bottom: 10px;
        
}
.button-container a{
        color: #3045FF;
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;

}
.button-container a:hover{
        color: #FDD73EFF;
}

/*************  Paneles  ***********/  
.main--title p{
        width: 285px;
        max-width: 440px;
        margin-left: 18px;
        font-size: 1.2rem;
        color: #FFF;
        text-align: left; 
}
.main--panel h2{
        margin-left: 18px;
        font-size: 1.4rem;
        color: var(--subtitle);
        text-align: left; 
}
.main--panel p{
        width: 285px;
        max-width: 440px;
        margin-left: 18px;
        font-size: 1.2rem;
        color: #B2B2B2;
        text-align: left; 
}
.panel--card{
        position: relative;
        width:290px;
        max-width: 465px;
        height: 72px;
        display: flex;
        margin: 10px auto;
        border: 1px solid #FDD73E;
        border-radius: 5px;

}
.panel--card input{
        position: absolute;
        top:5px;
        right: 5px;
}
.panel--card .arrow-icon{
        background-image: url(../../assets/ico/right-arrow.png);
        position:absolute;
        width:12px;
        height: 24px;
        top:25px;
        right: 6px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
}
.panel--img img{
        width:110px;
        max-width: 145px;
        height: auto;
}
.panel--txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.panel--txt p{
        width: 150px;
        height: auto;
}
.panel--txt .card-title{
        font-size: 1.2rem;
        font-weight: 700;
        color: #FFF;
        word-wrap: break-word;
}
.panel--txt .card-text,.panel--txt span {
        font-weight: 1rem;
        color: #B2B2B2;
}

@media (min-width: 1024px) {
        /*************  Perfil   ***********/  
.main--title h1{
        margin-top:142px ;
        margin-left: 110px;
        font-size: 2rem;
        text-align: left;} 
  
.main--part1 h2, .main--part2 h2 {
        margin-left: 110px;
        margin-bottom: 20px;
        font-size: 1.8rem;}
        
.div-part1,.div-part2{margin-left: 18px;}
        

.div-part1 label,.div-part1 p, .div-part2 label{font-size: 1.8rem;}
        

.part2--txt p{font-size: 1.8rem;}
        
/* CSS */
/* Aplica grid a las filas */
/* Aplica grid general */
        .row {
        display: grid;
        gap: 1rem;
        margin-bottom: 2rem;
      }
      .column input{
        margin-top: 10px;
      }
      
      /* Cada fila tiene su cantidad de columnas */
      .row-top,
      .row-middle {
        grid-template-columns: repeat(3, 1fr);
      }
      
      .row-bottom {
        grid-template-columns: repeat(2, 1fr);
      }
      .row-bottom p{
        text-wrap: nowrap;
      }
      
      /* Acomodo interno de cada campo */
      .div-part1, .div-part2 {
        display: flex;
        flex-direction: column;
      }
         
/*    */

.button-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
} 
.button-container button{
        width: 254px;
        height: 43px;
        border-radius: 20px;
        font-size: 1.8rem;
        margin-bottom: 10px;
        
}
.button-container a{
        font-size: 1.8rem;

}
/*************  Paneles  ***********/  

.main--title p{
        margin-left: 110px;
        font-size: 1.8rem;
        text-wrap: nowrap; 
}

.main--panel h2{
        margin-left: 170px;
        font-size: 1.8rem;
}
.main--panel p{
        margin-left: 170px;
        font-size: 1.8rem;
}
.panel--card{
        width:465px;
        height: 96px;
        margin: 14px auto;
        border-radius: 10px;

}
.panel--card input{
        position: absolute;
        top:10px;
        right: 10px;
}
.panel--card .arrow-icon{
        background-image: url(../../assets/ico/right-arrow.png);
        position:absolute;
        width:20px;
        height: 30px;
        top:30px;
        right: 6px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
}
.panel--img img{
        width:145px;
        height: auto;
}

.panel--txt p{
        width: 167px;
        height: auto;
}
.panel--txt .card-title{
        margin:0;
        font-size: 1.6rem;
}
.panel--txt .card-text{
        margin:10px;

}
.panel--txt .card-text,.panel--txt span {
        
        font-size: 1.2rem;
        color: #B2B2B2;
}
.paneles--grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
        gap: 2rem;
        align-items: start;
      }
    
.main--paneles .main--panel {
        margin: 0; /* Asegura que no haya separación extra */
        padding: 0;
      }
    
.columna1,
.columna2 {
        width: 100%;
        box-sizing: border-box;
      }
 
        

}

