:root{
    --fontTitle:#FDD73E;
    --btn:#3045FF;
    --subtitle:#3045FF;
    --text:#FFF;}

*{
        box-sizing: border-box;
        margin:0;
        padding:0;
        background-color: #2E2E2E;}
      
    
html{
        font-size: 62.5%;
        font-family: "Inter", serif;
        overflow-x:hidden;
        }

/* ************             PERFIL            *************/
.main--title h1{
    margin-top:50px ;
    margin-left: 18px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FDD73E;
    text-align: left;
} 
.main--part1 h2 {
    margin-left: 18px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3045FF;
    text-align: left; 
}
.main--part2 h2 {
    margin-top: 20px;
    margin-left: 18px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3045FF;
    text-align: left; 
}


.div-part1,.div-part2{
    margin-left: 18px;
}
.div-part1 label, .div-part2 label{
    color: #FFF;
    font-size: 1.2rem;
}
.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} 
.button-container button{
    width: 126px;
    max-width: 226px;
    height: 21px;
    border-radius: 13px;
    background-color: #3045FF;
    color: #FFF;
    font-size: 1.2rem;
    border: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-container a{
    color: #3045FF;
    font-size: 1.2rem;
    text-decoration: none;
}


/* ************               HOME            *************/
.nav--menu{
    width:320px;
    max-width: 1280px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 15px;
    border-bottom-color:#B2B2B2;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}
.nav-profile img{
    width:24px;
    max-width: 33px;
    height: 24px;
    
}
.nav--menu a{
    color: #FDD73E;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 15px;
}
.panel--chatico{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100; }

.panel--chatico img{
    width: 50px;
    max-width: 80px;
    height: 50px;
}        

.portada--home{
    display:grid;
    grid-template-columns: 50% 50%;
    padding-top: 30px;
    align-self: center;
    justify-content: center;
}   
.portada-derecha, .portada-izquierda{
    width:160px;
    height: 117px;
}

.portada-derecha h1{
    color: #FFF;
    font-size: 1.2rem;
    margin-left: 50px;
} 

.portada-derecha img{
    width:74px;
    max-width: 228px;
    height: 49px;
    margin-left: 50px;
}
.portada-izquierda img{
    width: 116px;
    max-width: 216px;
    height: 112px;
}
.menu--home{
    width:320px;
    max-width: 1280px;
    height: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 44px;
}
.menu-home-ico{
    width:66px;
    max-width: 136px;
    height: 89px;
    margin-left: 60px;
}
.menu-home-ico img{
    width:66px;
    max-width: 117px;
    height: 66px;
}
.menu-home-ico p{
    color: #FFF;
    font-size: 1.2rem;
    padding-top: 8px;
    text-align: center;
}
.menu-home-ico a{ text-decoration: none;}

footer{
    position: relative;
    text-align: center;
    padding-top: 50px;
}
.footer_txt{
    position: absolute;
    top:50%;
    left: 25%;
}
.footer_txt p{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    line-height: 0.5;
    
}
/* ************        PROGRAMA            *************/
.navbar-toggler {
    border: none; /* Elimina el borde del botón */
    background: transparent; /* Fondo transparente */
}

.navbar-toggler-icon {
    background-image: url("../../assets/ico/menu.svg");
}
.nav-item{
    border-bottom-color:#B2B2B2;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}
.nav-item a{
    color: #FDD73E;
    font-size: 1rem;
    font-weight: 700;}
    

.nav-item a:hover{color: #FFF;}
.navbar--line{
    border-bottom-color:#B2B2B2;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}
.navbar--logo img{
    width:176px;
    max-width: 375px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    
.menu-option1-title h1{
    padding-top: 20px;
    padding-left: 18px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FDD73E;
    text-align: left;}

.panel--card{
    position: relative;
    width: 282px;
    max-width: 813px;
    height: 84px;
    display: flex;
    margin-left: 14px;
    margin-top: 38px;
    border: 1px solid var(--fontTitle);
    border-radius: 10px;
} 
.panel--card .arrow-icon{
    background-image: url(/assets/ico/right-arrow.png);
    position:absolute;
    width:12px;
    height: 24px;
    top:25px;
    right: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
    
.panel--img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel--img img{
    width:90px;
    max-width: 257px;
    height: auto;}

.panel--txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.panel--txt p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: auto;
    font-size: 1.2rem;
    color:#FFF;
} 
.info-middle{
    color: #B2B2B2;
}
.btn-regresar{
    width: 153px;
    max-width: 226px;
    height: 26px;
    background-color: #3045FF;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 31px;
    
}
.btn-regresar a{
    text-decoration: none;
    background-color: #3045FF;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}
/* ************        LOGISTICA            *************/
.menu-option1-title h2{
    padding-left: 18px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #3045FF;
    text-align: left;}

.menu-logistica{ /*! agrega max-width*/
    width: 252px;
    height: auto;
    margin-left: 18px;
    color: #FFF;
    text-align: left;
    font-size: 1rem;
    border-collapse: collapse;
}

.info--title th, .info--pasajeros th{
    font-weight: 700;
}

.info--title th,.info--info td{
    width:79px;
    max-width: 159px;
    height: auto;
}  
.nombre-pasajeros{
    width:320px;
    height: auto;
    text-wrap: nowrap;
}
.proveedor-msj td{
    color: #B2B2B2;
}


.div-icon{
    width:117px;
    max-width: 694px;
    height: 33px;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
}
.ico-location img{
    width:12px;
    max-width: 28px;
    height: 13px;

}
.ico-location a{
    font-size: 1rem;
    color: var(--text);
    text-wrap: nowrap;
    text-decoration: none;
}
.content-info{
    width:289px;
    height: auto;
}
.content-info p{
    font-size: 1rem;
    color: #FFF;
    padding-left: 18px;
    text-wrap: wrap;
}
.menu-option1-title h3{
    padding-left: 18px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-align: left;
}
.menu-option1-title h4{
    padding-left: 18px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-align: left;}

    

.logistica--column td{
    padding-left: 10px;
}    

/* ************        SORTEO            *************/
.qr-section img{
    width:190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
.qr-section-ico{
    width: 67px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 19px;
}
.qr-section-ico img{
    width:24px;
    height: 24px;
    
}
   



    

    


    
    





