:root{
    --fontTitle:#FDD73E;
    --btn:#3045FF;
    --subtitle:#3045FF;
    --text:#FFF;
    --subtext:#B2B2B2}

*{
        box-sizing: border-box;
        margin:0;
        padding:0;
        background-color: #2E2E2E;}
       
html{
    font-size: 62.5%;
    font-family: "Inter", serif;
    overflow-x:hidden;}
        
body{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;}

/* ************          Chatico            *************/        

.panel--chatico {
    bottom: 40px;
    right: 40px; 
    z-index: 999;
    background-color: transparent;  }
    
.panel--chatico img {
    width: 40px;
    max-width: 60px;
    height: 40px;
    background-color: transparent; }

.panel--chatico img:hover {
    transform: scale(1.1);} 

/* ************    PERFIL-EDIT            *************/

.main--title h1{
    margin-top:50px ;
    margin-left: 18px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FDD73E;
    text-align: left;} 

.main--part1 h2 {
    margin-left: 18px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3045FF;
    text-align: left; }

.div-part1{
    margin-left: 18px;
    margin-bottom: 10px;}

.div-part1 label, .div-part1 p{
    color: #FFF;
    font-size: 1.2rem;}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;} 

.button-container button{
    width: 126px;
    max-width: 254px;
    height: 21px;
    border-radius: 13px;
    background-color: #3045FF;
    color: #FFF;
    font-size: 1.2rem;
    border: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.button-container a{
    color: #3045FF;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 15px;}

/* ************    FOOTER           *************/
footer{
    position: relative;
    padding: 2rem 1rem;
    overflow: hidden;
    bottom: 0;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #636161;}

.footer-content {
    position: relative;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;}
    
.footer_txt{
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    text-align: center; }  
    
.footer_txt p{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    line-height: 0.5;
    background-color: transparent;}
    
.footer-ico {
    background-color: transparent;
    position: absolute;
    bottom: 35%;
    left: 80%;
    width: 50%;
    overflow: hidden;}
.ico-footer{
    content: url(/assets/ico/footer-dektop.png);
    width:132px;
    height: auto;}

/* ************               Navbar            *************/
.nav--menu{
    width:100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 15px;
    border-bottom-color:#B2B2B2;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;}

.nav-profile img{
    width:24px;
    max-width: 33px;
    height: 24px;}
    
.nav--menu a{
    color: #FDD73E;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 15px;}
/* ************               Home           *************/   
.portada--home{
    display:grid;
    grid-template-columns: 35% 70%;
    padding-top: 30px;
    align-self: center;
    justify-content: center;}
   
.portada-derecha, .portada-izquierda{
    width:160px;
    height: 117px;}

.titleMobile h1{
    display: block;
    color: #FFF;
    font-size: 1.2rem;
    margin-left: 50px;}

.titleDesktop h1{display: none;}
    
.portada-derecha img{
    width: 116px;
    max-width: 216px;
    height: 112px;}

.portada-izquierda img{
    width:72px;
    height: 14px;
    margin-left: 50px;}

.menu--home{
    width:320px;
    max-width: 1280px;
    height: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 44px;}

.menu-home-ico{
    width:66px;
    max-width: 136px;
    height: 89px;
    margin-left: 60px;}

.menu-home-ico img{
    width:66px;
    max-width: 117px;
    height: 66px;}

.menu-home-ico p{
    color: #FFF;
    font-size: 1.2rem;
    padding-top: 8px;
    text-align: center;}

.menu-home-ico a{ text-decoration: none;}
/* ************        header     **************/
.navbar--line{
    width:100%;
    height: 44px;
    border-bottom: 1px solid #B2B2B2;}
.navbar--logo img{
    width:162px;
    height: auto;}
.navbar-toggler span{
    content: url(/assets/ico/menu.svg);
    width: 24px;
    height: auto;}
.nav-item a{
    font-size: 1.2rem;
    color: #FDD73E;
    font-weight: 700;}
 
.nav-item a:hover{color: #FFF;}
    
.navbar-collapse{border-bottom: 1px solid #B2B2B2;}

/* ************        PROGRAMA            **************/
.main--programa{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;}

.menu-option1-title h1{
    font-size: 1.4rem;
    color: #FDD73E;
    font-weight: 700;
    margin-left: 14px;
    margin-top: 16px;
    margin-bottom: 38px;}

.arrow--desktop{display: none;}
.arrow--mobile{display: block;}
    
.panel--card{
    display: flex;
    margin-left: 14px;
    width:282px;
    height: 84px;
    border: 1px solid #FDD73E;
    border-radius: 10px;
    margin-bottom: 44px;}

.panel--img img{
    width: 89px;
    max-width: 203px;
    height: auto;}
.panel--txt{
    width:117px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: var(--text);
    text-wrap: wrap;
    margin-left: 35px;}
.panel--txt h3{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;} 

.panel--txt  p{font-size: 1rem;} 
    
.card-arrow .arrow-icon{
    content: url(/assets/ico/right-arrow.png);
    width:12px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 9px;
    margin-top: 30px;}

.btn-regresar{
    width:153px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--btn);
    border-radius: 13px;
    margin:0 auto;}

.btn-regresar a{
    text-decoration: none;
    color: var(--text);
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;}

/* ************        LOGISTICA            *************/
.logistica-desktop, .pasajeros-desktop{display:none;}

.menu-option2-title h1{
        font-size: 1.4rem;
        color: #FDD73E;
        font-weight: 700;
        margin-left: 14px;
        margin-top: 16px;
        margin-bottom: 15px;}
.menu-option2-title h2{
    padding-left: 18px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #3045FF;
    text-align: left;}

.menu-option2-title h3{
    padding-left: 18px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-align: left;} 

.info--pasajeros li{
    color: var(--text);
    list-style: none;}
       
.logistica-mobile{
    display: table;
    width: 252px;
    height: auto;
    margin-left: 18px;
    color: #FFF;
    text-align: left;
    font-size: 1rem;
    border-collapse: collapse;
    table-layout: fixed;}


.info--title th, .info--pasajeros th{
    font-weight: 700;}


.info--title th,.info--info td{
    width:33%;
    height: auto;
    padding: 2px;}

.proveedor-msj p{
    margin-left: 18px;
    padding-top: 10px;
    width: 80%;
    color: #B2B2B2;
    font-size: 1rem;}

.div-icon{
    width:117px;
    height: 33px;
    padding-left: 18px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;}

.ico-user, .ico-location{
    display: grid;
    grid-template-columns: 50% 50%;}

.ico-location img{
    width:12px;
    height: 13px;}

.ico-location a{
    font-size: 1rem;
    color: var(--text);
    text-wrap: nowrap;
    text-decoration: underline;}

.content-info{
    width:289px;
    height: auto;}

.content-info p{
    font-size: 1rem;
    color: #FFF;
    padding-left: 18px;
    text-wrap: wrap;}


.tabla--hospedaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    color: var(--text);
    width:90%;
    height: auto;}

.hospedaje--info th,.info--info td{
    width:183px;
    height: auto;}
    

.hospedaje--info th{
    font-weight: 700;}
.tabla--transporte{
    margin-left: 18px;
    margin-bottom: 20px;}    

.info-transporte{
    width:90%;
    height: auto;
    color: var(--text);} 
.info-transporte th{
    font-size: 700;
    padding-right: 10px;}
  
.info-transporte td{padding-right: 10px;}

.menu-option2-title p,.transporte--rutas{
    margin-left: 18px;
    color: var(--subtext);
    font-size: 1rem;
}
.menu-option2-title p{
    margin-left: 18px;

}
.space-bottom{
    margin-bottom: 52px;
}
    


/* ************        SORTEO            *************/
.menu-option3-title h1{
    font-size: 1.4rem;
    color: #FDD73E;
    font-weight: 700;
    margin-left: 14px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.menu-option3-title p{
    font-size: 1.2rem;
    height: auto;
    color: var(--subtext);
    margin-left: 18px;
}
.qr-section img{
    width:190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
.qr-section-ico{
    width: 67px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 19px;
}
.qr-section-ico img{
    width:24px;
    height: 24px;
    
}
   
@media (min-width:1024px){
/* ************          Desktop: Chatico  *************/ 
.panel--chatico {
    position: fixed;
    right: 50px;  
    z-index: 100;
    background-color: transparent;  }

.panel--chatico img {
    width: 60px;
    height: 60px;
    background-color: transparent; }

 /* ************    Desktop: PERFIL        *************/

.main--title h1{
    margin-top:142px ;
    margin-left: 110px;
    font-size: 2rem;
    text-align: left;} 

.main--part1 h2 {
    margin-left: 110px;
    margin-bottom: 20px;
    font-size: 1.8rem;}
    
.div-part1{margin-left: 18px;}
    
.div-part1 label,.div-part1 p{font-size: 1.8rem;}
    
.row {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;}
  
.column input{
    margin-top: 10px;}
  
.row-top,
.row-middle {grid-template-columns: repeat(3, 1fr);}
  
.row-bottom {grid-template-columns: repeat(2, 1fr);}
    
  
.row-bottom p{text-wrap: nowrap; }
    

.div-part1, .div-part2 {
    display: flex;
    flex-direction: column;}
    
.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; } 
   
.button-container button{
        width: 254px;
        height: 43px;
        border-radius: 20px;
        font-size: 1.8rem;
        margin-bottom: 10px; }
        
   
.button-container a{
        font-size: 1.8rem; }

   
    /************   Desktop: FOOTER   **************/
    footer{min-height: 120px;}
        
    .footer_txt {
        display: grid;
        grid-auto-flow: column;
        align-items: center; }
      
    .footer_txt p{
        font-size: 2rem; }
        
    .footer-ico {
        background-color: transparent;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%; 
        overflow: hidden;}

    .ico-footer{
        content: url(/assets/ico/footer-dektop.png);
        width:251px;
        height: auto;
        transform: translateX(70%);}
            
         
    /* ************    Desktop: navbar    *************/
    .nav--menu{
        width:100%;
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        border-bottom: 1px solid #B2B2B2;}

    .nav-profile img{
        width:33px;
        height: 33px;
        margin-left: 20px;}
        
    .nav--menu a{
        font-size: 2rem;
        margin-right: 20px;}
    /* ************    Desktop: HOME    *************/
    .titleDesktop h1{
        display: block;
        color: var(--text);
        text-wrap: nowrap;
        font-size: 3rem;
        margin-left: 40px;}
         
    .titleMobile h1{display: none;}    
    .portada--home{
        display:grid;
        grid-template-columns: 60% 40%;
        padding-top: 30px;
        margin-left: 20%;
        align-self: center;
        justify-content: center;}
           
    .portada-derecha, .portada-izquierda{
        width:160px;
        height: 117px;}
    .portada-derecha img{
        width: 216px;
        height: 208px;} 
    .portada-izquierda img{
        width:196px;
        height: 39px;
        margin-left: 38px;} 

    .chatico-home{
        bottom: 0%;
    }          
   
    .menu--home{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        margin-top: 12%;
        margin-left: 25%;
        padding-bottom: 12%;}
    
    .menu-home-ico{
        display: flex;
        align-items: center;
        justify-content: center;
        width:136px;
        height: auto; }
        
    .menu-home-ico img{
        width:117px;
        height: 117px;}
    
    .menu-home-ico p{
        font-size: 2rem;
        padding-top: 12px;}
    
    /* ************        Desktop: header     **************/
    .navbar--line{
        width:100%;
        height: 71px;
        border-bottom: 1px solid #B2B2B2;}
    .navbar--logo img{
        width:311px;
        height: auto;
        margin-right: 20px;}
    .navbar-toggler span{
        content: url(/assets/ico/menu.svg);
        width: 33px;
        height: auto;
        margin-right: 20px;}
    .nav-item a{font-size: 1.6rem;}  

    /* *******        Desktop: PROGRAMA    *******/
    .main--programa{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;}
    
    .menu-option1-title h1{
        font-size: 2rem;
        margin-left: 143px;
        margin-top: 39px;
        margin-bottom: 38px;}
    .panel-card--container{
        display: grid;
        grid-template-columns: repeat(3, 211px); /* 3 columns of 211px each */
        justify-content: center;
        gap: 145px;
        padding: 0 20px;
    }    
    .panel--card{
        display: flex;
        flex-direction: column;
        width:211px;
        height: 351px;
        border: 1px solid #FDD73E;
        border-radius: 10px;
        margin-bottom: 20px;}
    
    .panel--img img{
        width: 203px;
        height: auto;
        margin-bottom: 11px;}

    .panel--txt{
        width:150px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin-left: 35px;}

    .panel--txt h3{
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 5px;} 
    
    .panel--txt p{
        font-size: 1.4rem;
        text-align: center;
        text-wrap: wrap;
        padding-bottom: 75px;} 
        
    .card-arrow .arrow-icon{
        content: url(/assets/ico/down_arrow.png);
        width:38px;
        height: 20px;
        display: flex;
        margin:0 auto;}
    
    .btn-regresar{
        width:226px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--btn);
        border-radius: 23px;
        margin:50px auto;}
    
    .btn-regresar a{
        text-decoration: none;
        color: var(--text);
        background-color: transparent;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;}

/* ************     Desktop: LOGISTICA     **********/
    .logistica-mobile{display:none;}

    .menu-option2-title h1{
        font-size: 2rem;
        margin-left: 143px;
        margin-top: 16px;
        margin-bottom: 15px;}

    .menu-option2-title h2{
        padding-left: 143px;
        font-size: 1.8rem;
        text-align: left;}

    .menu-option2-title h3{
        padding-left: 143px;
        font-size: 1.6rem;
        text-align: left;} 

    .info--pasajeros li{
        font-size: 1.6rem;
        padding-left: 143px;}
        
        
    .logistica-desktop{
        display: table;
        width: 90%;
        height: auto;
        margin-left: 143px;
        color: #FFF;
        text-align: left;
        font-size: 1.4rem;
        border-collapse: collapse;
        table-layout: fixed;}


    .info--title th, .info--pasajeros th{
        font-weight: 700;}


    .info--title th,.info--info td{
        width:33%;
        height: auto;
        padding: 2px;}

    .proveedor-msj p{
        margin-left: 143px;
        padding-top: 10px;
        width: 80%;
        color: #B2B2B2;
        font-size: 1.6rem;}

    .div-icon{
        width:90%;
        height: 43px;
        margin-bottom: 20px;
        display: flex;
        gap:20%;
        flex-direction: row;
        justify-content: center;}

    .ico-user, .ico-location{
        display: flex;
        align-items: center;
        gap:8px;} 
        
    .ico-location img{
        width:38px;
        height: 38px;}  
        
   .ico-user p{
        font-size: 1.6rem;
        text-wrap: nowrap;}

    .ico-location{margin-left:22px ;}    
    
    .ico-location a{
        font-size: 1.6rem;
        text-wrap: nowrap;
        text-decoration: underline;}

    .content-info{
        margin-left: 143px;
        width:676px;
        height: auto;} 
     
    .content-info p{
        width:100%;
        text-align: center;
        font-size: 1.6rem;  }

    .tabla--hospedaje{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0 auto;
        color: var(--text);
        width:100%;
        height: auto;}

    .hospedaje--info th,.info--info td{
        width:183px;
        height: auto;
        text-wrap: nowrap;}
        

    .hospedaje--info th{
        font-weight: 800;
        font-size: 1.6rem;}

    .info--info td{font-size: 1.6rem;}
        
        
    .tabla--transporte{
        margin-left: 143px;
        margin-bottom: 20px;}    

    .info-transporte{
        width:90%;
        height: auto;
        color: var(--text);} 

    .info-transporte th{
        font-size: 700;
        padding-right: 10px;
        font-size: 1.6rem}
    
    .info-transporte td{
        padding-right: 30px;
        font-size: 1.6rem;}

    .menu-option2-title p,.transporte--rutas{
        margin-left: 143px;
        color: var(--subtext);
        font-size: 1.6rem;
    }
    .menu-option2-title p{
        margin-left: 143px;

    }
    .space-bottom{
        margin-bottom: 52px;
    }
/* ************    Desktop: SORTEO            *************/
    .main--sorteo{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        
    }
    .menu-option3-title h1{
        font-size: 2rem;
        margin-left: 143px;
        margin-bottom: 20px;
    }
    .menu-option3-title p{
        font-size: 1.6rem;
        height: auto;
        margin-left: 143px;
        margin-bottom: 20px;
    }
    .qr-section img{
        width:299px;
        height: 299px;
        display: flex;
        flex-direction: column;
        margin:0 auto;

    }
    .qr-section-ico{
        width: 137px;
        height: auto;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 19px;
    }
    .qr-section-ico img{
        width:29px;
        height: 29px;
        
    }    
        
            
        
   
        
                    
    
          
    

     

    
    
}


    

    


    
    





